syntax: glob
*.pyc
*/rpmbuild/
*/debbuild/
*/dist/
*/pylint.txt
*/pylint.report
*.orig
*.deb
*.rpm
*/build/
*/nova_gridcentric.egg-info/
nova/contrib/nova/
nova/contrib/.bzr/
nova/contrib/glance.sqlite
nova/contrib/images/
nova/vms.db
nova/pylint.txt
