Package: nova-compute-gridcentric
Section: extra
Version: VERSION
Architecture: all
Depends: nova-gridcentric, vms-libvirt, vms-mcdist
Recommends: nova-compute
Maintainer: GridCentric Inc. <support@gridcentric.com>
Description: GridCentric extension for OpenStack Compute.
