Package: novaclient-gridcentric
Section: extra
Version: VERSION
Architecture: all
Depends: python-novaclient
Maintainer: GridCentric Inc. <support@gridcentric.com>
Description: GridCentric extension for OS novaclient.
